<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block style %}
      <link rel="stylesheet" href="{% static 'recipe/css/base.csa' %}">
    {% endblock style %}
    <title>{% block title %}{% endblock title %} | Snackbar</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="{% url 'recipe:index' %}">Snackbar</a>
      </h1>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'recipe:index' %}" title="home">Home</a></li>
            <li><a href="{% url 'recipe:all_recipes'  %}">All recipes</a></li>
          {% else %}
            <li><a href="{% url 'account:register' %}" title="register">Register</a></li>
            <li><a href="{% url 'account:login' %}" title="login">Login</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'recipe:add_recipe' %}" title="new recipe">New recipe</a></li>
            <li><a href="{% url 'account:profile' %}" title="profile">Profile</a></li>
            <li><a href="{% url 'account:logout' %}" title="logout">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
    <footer>
      <div class="width-50-left">
        <h2>Snacker</h2>
        <p>Your one place shop stop for new and exciting recipes</p>
        <p>Hope you enjoy</p>
      </div>
      <div class="width-50-right">
        <h2>Curious about us:</h2>
        <ul>
          <li>
            <a href="{% url 'recipe:about' %}">About us</a>
          </li>
          <li>
            <a href="{% url 'recipe:about' %}">Contact us</a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="{% static 'recipe/js/base.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
