{% extends "base.html" %}{% load static %}
{% block meta %}{% endblock %}
{% block css %}
{% endblock css %}
{% block title %}About{% endblock %}
{% block content %}
    <section class="section">
        <h2 class="section__title">About us</h2>
        <h3 class="founder__name">Malik Thompson</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-one.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
        <h3 class="founder__name">Aisha Foster</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-two.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
        <h3 class="founder__name">Marcus Bennett</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-three.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
        <h3 class="founder__name">Nia Reynolds</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-four.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
    </section>
{% endblock content %}
{% block js %}
{% endblock js %}