{% extends "base.html" %}{% load static %}
{% block meta %}
    <!-- Open Graph Meta Tags (Facebook, LinkedIn) -->
    <meta property="og:title" content="Flavor Fusion">
    <meta property="og:description" content="About flavor fusion">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.host }}{% url 'core:about' %}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.host }}{% static 'core/img/flavor-fushion' %}">
    <meta property="og:image:width" content="900">
    <meta property="og:image:height" content="900">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="Flavor fusion">
    <meta name="twitter:title" content="Flavor fusion">
    <meta name="twitter:description" content="About flavor fusion">
    <meta name="twitter:url" content="{{ request.scheme }}://{{ request.host }}{% url 'core:about' %}">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.host }}{% static 'core/img/flavor-fushion' %}">
    <meta name="twitter:image:width" content="900">
    <meta name="twitter:image:height" content="900">
    
    <!-- Additional Meta Tags (optional) -->
    <meta name="author" content="Opaque Maniac">
    <meta name="description" content="about flavor fusion">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/about.css' %}">
{% endblock css %}
{% block title %}About{% endblock %}
{% block content %}
<!-- Template for the about page -->

    <section class="section">
        <h2 class="section__title">About us</h2>
        <h3 class="founder__name">Malik Thompson</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-one.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
        <h3 class="founder__name">Aisha Foster</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-two.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
        <h3 class="founder__name">Marcus Bennett</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-three.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
        <h3 class="founder__name">Nia Reynolds</h3>
        <article class="section__article">
            <img class="section__img" src="{% static 'core/img/founder-four.jpg' %}" alt="">
            <p class="section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
    </section>
{% endblock content %}
{% block js %}
{% endblock js %}