{% extends 'base.html' %}{% load static %}
{% block meta %}{% endblock meta %}
{% block style %}
    <link rel="stylesheet" href="{% static 'recipe/css/about.css' %}" type="text/css">
{% endblock style %}
{% block title %}About{% endblock title %}
{% block content %}
    <h1>About us:</h1>
    <p>Snacker website is a website that allows users to share their recipes with the world.</p>
    <p>Users can create, edit and delete their recipes.</p>
    <p>Users can also view other users recipes.</p>
    <p>Users can also contact the company via email or social media.</p>
{% endblock content %}
{% block script %}{% endblock script %}