{% extends 'base.html' %}{% load static %}
{% block meta %}{% endblock meta %}
{% block style %}
    <link rel="stylesheet" href="{% static 'recipe/css/contact.css' %}" type="text/css">
{% endblock style %}
{% block title %}Contact{% endblock title %}
{% block content %}
    <h1>Contact Mark Mbithi</h1>
    <ul>
        <li>
        <a href="mailto:mbithimark8@gmail.com" target="_blank">Email</a>
        </li>
        <li>
        <a href="https://www.instagram.com/mbithi.mark/" target="_blank">Instagram</a>
        </li>
        <li>
        <a href="https://www.facebook.com/jack.linel.9" target="_blank">Facebook</a>
        </li>
        <li>
        <a href="https://twitter.com/MarkMbithi4" target="_blank">Twitter</a>
        </li>q       
    </ul>
{% endblock content %}
{% block script %}{% endblock script %}
