{% extends 'base.html' %}{% load static %}
{% block meta %}{% endblock meta %}
{% block style %}
    <link rel="stylesheet" href="{% static 'recipe/css/index.css' %}" type="text/css">
{% endblock style %}
{% block title %}Home{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated %}
        <ul>
            {% for recipe in recipes %}
                <a href="{% url 'recipe:recipe' recipe.id %}">
                    <li>
                        <p>{{ recipe.name }}</p>
                        <p>By: <span class="user">{{ recipe.user.firstname }} {{ recipe.user.lastname }}</span></p>
                    </li>
                </a>
            {% empty %}
                <li>
                    <p>No recipes found.</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Snacker</h1>
        <p class="paragraph-1">
            Snacker is a social media platform for sharing recipes. It is a place where you can share your recipes with others and see what others are cooking.
        </p>
        <p class="paragraph-2">
            Meet new people, share your recipes, and get inspired by others.
        </p>
        <p class="paragraph-3">
            You can also recruit people to your team and work together on a recipe.
        </p>
    {% endif %}
{% endblock content %}
{% block scripts %}
{% endblock scripts %}