{% extends "base.html" %}{% load static %}
{% block meta %}
    <!-- Meta tags for bots -->
    <meta name="googlebot" content="noindex">
    <meta name="googlebot-news" content="nosnippet">
    <meta name="robots" content="noindex">
    <meta name="robots" content="noarchive">
    <meta name="robots" content="nofollow">
    <meta name="robots" content="nosnippet">
    <meta name="robots" content="noimageindex">
    <meta name="robots" content="noodp">
    <meta name="robots" content="noydir">
    <meta name="robots" content="nocache">
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile.css' %}">
{% endblock css %}
{% block title %}{{ profile.first_name }} {{ profile.last_name }}{% endblock %}
{% block content %}
<!-- Template for user profile -->

<section class="section">
    <h2 class="profile__name">{{ profile.first_name }} {{ profile.last_name }}</h2>
    <div class="profile__info">
        <div class="profile__info--picture">
            <img class="profile-picture" src="{{ profile.profile_picture.url }}">
        </div>
        <div class="profile__info--details">
            <p class="profile__info--details--email">{{ profile.email }}</p>
            <p class="profile__info--details--phone">{{ profile.phone }}</p>
            <p class="profile__info--details--address">{{ profile.address }}</p>
            <p class="profile__info--details--city">{{ profile.city }}</p>
            <p class="profile__info--details--country">{{ profile.country }}</p>
        </div>
    </div>
        
</section>
{% endblock content %}
{% block js %}
{% endblock js %}