
:root {
    --font-family: 'Inter', sans-serif;
    --font-size: 1rem;
    --font-weight: 400;
    --line-height: 1.5;
    --color-primary: 	#FAC898;
    --color-text-primary: #FFFFF0;
    --color-text-secondary: #000000;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}