{% extends 'base.html' %}{% load static %}
{% block meta %}{% endblock meta %}
{% block style %}
    <link rel="stylesheet" href="{% static 'account/css/delete_profile.css' %}">
{% endblock style %}
{% block title %}Delete profile{% endblock title %}
{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <button type="submit">Confirm profile delete!</button>
    </form>
    <a href="{% url 'account:profile' %}" title="cancel">Cancel</a>
{% endblock content %}
{% block script %}{% endblock script %}